#bio{
    margin: auto;
}
#projectsDiv{
    margin: auto;
    height: 750px;
}
.carousel-caption{
    background-color: rgba(49, 163, 113, .8);
}
.carousel-control{
    color: rgba(49, 163, 113);
}
#aboutMeImg{
    width: 350px;
    height: auto;
}
#projectsCarousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 60vh;
    overflow: hidden;
}