body{
    background: linear-gradient(0deg, rgba(197,231,216,1) 0%, rgba(194,233,216,1) 50%, rgba(164,193,180,1) 100%);
}
#bio{
    margin: auto;
}
.makeFlex{
    display: flex
}
#projectsDiv{
    margin: auto;
    height: auto;
}
#projectsDiv2{
    margin: auto;
    height: auto;
}
.carousel-caption{
    background-color: rgba(49, 163, 113, .8);
}
.carousel-control{
    color: rgba(49, 163, 113);
}
#aboutMeImg{
    width: 350px;
    height: auto;
}
#projectsCarousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 60vh;
    overflow: hidden;
}
#projects2Carousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 60vh;
    overflow: hidden;
}
#myProjects{
    margin-bottom: .25em;
}
#modal1Img{
    width: 350px;
    height: auto;
    margin-left: 34%;
    margin-right: auto;
}
#modal2Img{
    width: 350px;
    height: auto;
    padding: .25em;
    margin-left: 34%;
    margin-right: auto;
}
#modal3Img{
    width: 350px;
    height: auto;
    padding: .25em;
}
#modal4Img{
    width: 350px;
    height: auto;
    padding: .25em;
}
#modal5Img{
    width: 350px;
    height: auto;
    padding: .25em;
}
#modal6Img{
    width: 350;
    height: auto;
    padding: .25em;
}
#modal7Img{
    width: 350;
    height: auto;
    padding: .25em;
    margin-left: 30%;
    margin-right: auto;
}
#modal8Img{
    width: 350;
    height: auto;
    padding: .25em;
    object-fit: cover;
    object-position: center;
    height: 60vh;
    overflow: hidden;
}